*~
*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
libtool
src/motoko
INSTALL
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/
configure
stamp-h1
.dirstamp
wardendump
build